
<!doctype html>
<html lang="fr-FR">


<body class="page-template page-template-letude page-template-letude-php page page-id-13 wp-embed-responsive singular image-filters-enabled">
<div id="page" class="site">

    <img class="big-logo" src="http://www.aymonier-associes.com/wp-content/themes/aymonier2019/images/big-logo.png">
    <img class="big-logo responsive" src="http://www.aymonier-associes.com/wp-content/themes/aymonier2019/images/big-logo-responsive.png">


    <header>
      <div class="logo-header">
        <a href="http://www.aymonier-associes.com/#!">
          <img  src="http://www.aymonier-associes.com/wp-content/themes/aymonier2019/images/small-logo.svg">
        </a>
      </div>



    <a  id="nav-icon3" class="menu-link"><span></span>
                  <span></span>
                  <span></span>
                  <span></span>
              </a>


    <div class="header-container">
      <div class="big-logo-container">
        <img class="big-logo-menu " src="http://www.aymonier-associes.com/wp-content/themes/aymonier2019/images/big-logo.png">
        <img class="big-logo-menu responsive" src="http://www.aymonier-associes.com/wp-content/themes/aymonier2019/images/big-logo-responsive.png">
      </div>
        <div class="menu-container"><ul id="menu-2019" class="menu"><li id="menu-item-43" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-43"><a href="http://www.aymonier-associes.com/">ACCUEIL</a></li>
<li id="menu-item-42" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-13 current_page_item menu-item-42"><a href="http://www.aymonier-associes.com/letude/" aria-current="page">L&rsquo;ÉTUDE</a></li>
<li id="menu-item-41" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-41"><a href="http://www.aymonier-associes.com/domaines-dintervention/">DOMAINES D&rsquo;INTERVENTION</a></li>
<li id="menu-item-40" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-40"><a href="http://www.aymonier-associes.com/lequipe/">L&rsquo;ÉQUIPE</a></li>
<li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-39"><a href="http://www.aymonier-associes.com/honoraires/">HONORAIRES</a></li>
<li id="menu-item-38" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38"><a href="http://www.aymonier-associes.com/contact/">CONTACT</a></li>
</ul></div>

    </div><!-- header-container -->





    </header>



    <div class="section-top" style="background-image: url(http://www.aymonier-associes.com/wp-content/uploads/2019/04/fond_etude.jpg)" / style="width: 100px; ">
        <a href="#section-content">L&rsquo;ÉTUDE</a>
    </div><!-- section-top-->




    <div id="section-content">


<div class="row one">
              <div class="case une" style="background-image: url(http://www.aymonier-associes.com/wp-content/uploads/2019/04/case1_etude.jpg)">


        <div class="titre-case">
          HISTOIRE        </div><!-- titre-case -->


      </div><!-- case une -->

    <div class="case deux">
      <div class="texte-case-simple">
        <h2 class="p1"><span class="s1"><b>Un travail remarquable et exemplaire </b></span><span class="s1"><b>a permis d’inventorier les minutes de l’étude </b></span><span class="s1"><b>à partir de 1665.</b></span></h2>
<p class="p3"><span class="s1">Un répertoire méthodique et détaillé des minutes notariales de l’étude </span><span class="s1">a été établi par les Archives départementales de la Haute-Savoie situées </span><span class="s1">à Annecy en 2012.</span></p>
<p class="p3"><span class="s1">Depuis plusieurs décennies, l’étude était domiciliée à Annecy, </span><span class="s1">rue Jean-Jacques Rousseau; son transfert a eu lieu le 13 février 1978 </span><span class="s1">au 5 rue Montaigne, Immeuble « Le Royal », sur l’initiative de Maître </span><span class="s1"><b>René Aymonier</b>, associé de Maître <b>Francis Salomon</b>.</span></p>
<p class="p3"><span class="s1">L’étude occupe une partie du rez-de-chaussée de l’immeuble </span><span class="s1">dans un écrin de verdure, à deux pas du lac d’Annecy, </span><span class="s1">dans un environnement attrayant.</span></p>
      </div>
    </div>

</div><!-- row-one -->

<div class="row two">

      <div class="case trois" style="background-image: url(http://www.aymonier-associes.com/wp-content/uploads/2019/04/case3_etude.jpg)">



        <div class="titre-case">
          CONTINUITÉ ÉVOLUTIVE        </div><!-- titre-case -->



  </div><!-- case trois -->

  <div class="case quatre couleur">
    <div class="texte-case-simple colore">
        <h2 class="p1"><span class="s1"><b>Dans la perspective d’offrir aux clients un service </b></span><span class="s1"><b>de qualité, les associés ont entrepris en 2007 </b></span><span class="s1"><b>d’important travaux de rénovation des locaux afin </b></span><span class="s1"><b>de les rendre plus accessibles et chaleureux.</b></span></h2>
<p class="p3"><span class="s1">Depuis l’étude n’a cessé d’augmenter en capacité. Pour répondre aux besoins de sa clientèle de particuliers et d’institutionnels, des travaux d’agrandissement ont été effectués 2019 doublant la superficie de l’office, de nouvelles salles de réunion équipées des dernières technologies vont être mises à disposition des notaires et des collaborateurs, le tout dans </span><span class="s1">le respect de son design caractéristique.</span></p>
<p class="p3"><span class="s1">Soucieux de fournir un service performant et adapté, nous nous inscrivons dans une collaboration étroite avec l’ensemble des autres conseils choisis par les clients, cabinets d’avocats, comptables et fiscalistes.</span></p>
<p class="p3"><span class="s1">La disponibilité et la spécialisation des associés et des collaborateurs constituent un gage de pérennité de l’étude <b>AYMONIER</b> Notaires, </span><span class="s1">souhaitant s’inscrire dans une continuité évolutive.</span></p>
      </div>
  </div><!-- case quatre -->

</div> <!-- row two -->




<footer>
    <a href="#!">
      <img class="a-logo " src="http://www.aymonier-associes.com/wp-content/themes/aymonier2019/images/a-logo.svg">
    </a>
      <div class="menu-2019-container"><ul id="menu-2020" class="menu-footer"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-43"><a href="http://www.aymonier-associes.com/">ACCUEIL</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-13 current_page_item menu-item-42"><a href="http://www.aymonier-associes.com/letude/" aria-current="page">L&rsquo;ÉTUDE</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-41"><a href="http://www.aymonier-associes.com/domaines-dintervention/">DOMAINES D&rsquo;INTERVENTION</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-40"><a href="http://www.aymonier-associes.com/lequipe/">L&rsquo;ÉQUIPE</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-39"><a href="http://www.aymonier-associes.com/honoraires/">HONORAIRES</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38"><a href="http://www.aymonier-associes.com/contact/">CONTACT</a></li>
</ul></div>
       <div class="copyrights">
         © Aymonier Notaires 2020</br>
         Web design : Francesca Reyes-Cortorreal / Photographie : Frederic Laverriere / Web development : Pierre Schilling
       </div>

  </footer><!-- #colophon -->

    </div> <!-- section-content -->



</div><!-- #page -->

<script type='text/javascript' src='http://www.aymonier-associes.com/wp-content/plugins/simple-mail-address-encoder/smae.js?ver=1.0.0'></script>
<script type='text/javascript' src='http://www.aymonier-associes.com/wp-content/themes/twentynineteen/js/priority-menu.js?ver=1.1'></script>
<script type='text/javascript' src='http://www.aymonier-associes.com/wp-content/themes/twentynineteen/js/touch-keyboard-navigation.js?ver=1.1'></script>
<script type='text/javascript' src='http://www.aymonier-associes.com/wp-includes/js/wp-embed.min.js?ver=5.2.5'></script>
  <script>
  /(trident|msie)/i.test(navigator.userAgent)&&document.getElementById&&window.addEventListener&&window.addEventListener("hashchange",function(){var t,e=location.hash.substring(1);/^[A-z0-9_-]+$/.test(e)&&(t=document.getElementById(e))&&(/^(?:a|select|input|button|textarea)$/i.test(t.tagName)||(t.tabIndex=-1),t.focus())},!1);
  </script>


  <script>
      $(document).ready(function(){
      $(".menu-link").click(function(){
          $(".header-container").toggleClass("ciao-menu");
           $(".menu-link").toggleClass("open");
           $("header").toggleClass("z");
      });
      });

      </script>
<script>

$('a[href*="#"]')

  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {

    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
      &&
      location.hostname == this.hostname
    ) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      if (target.length) {
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top -80
        }, 1000, function() {
          var $target = $(target);
          $target.focus();
          if ($target.is(":focus")) {
            return false;
          } else {
            $target.attr('tabindex','-1');
            $target.focus();
          };
        });
      }
    }
  });

</script>
<script>
$(document).ready(function(){
    $(window).scrollTop(0);
});
  </script>
  <script>

  $(window).scroll(function() {
    var scroll = $(window).scrollTop();
    if (scroll >= 0.7 * $(window).height()) {
        $("header").addClass('black-menu');
    } else {
        $("header").removeClass('black-menu');
    }
    });

 (function($) {

  /**
   * Copyright 2012, Digital Fusion
   * Licensed under the MIT license.
   * http://teamdf.com/jquery-plugins/license/
   *
   * @author Sam Sehnert
   * @desc A small plugin that checks whether elements are within
   *     the user visible viewport of a web browser.
   *     only accounts for vertical position, not horizontal.
   */

  $.fn.visible = function(partial) {

      var $t            = $(this),
          $w            = $(window),
          viewTop       = $w.scrollTop(),
          viewBottom    = viewTop + $w.height(),
          _top          = $t.offset().top,
          _bottom       = _top + $t.height(),
          compareTop    = partial === true ? _bottom : _top,
          compareBottom = partial === true ? _top : _bottom;

    return ((compareBottom <= viewBottom) && (compareTop >= viewTop));

  };

})(jQuery);

$(window).scroll(function(event) {

  $("#section-content").each(function(i, el) {
    var el = $(el);
    if (el.visible(true)) {
      el.addClass("active");
    } else {
      el.removeClass("active");
    }
  });

});




</script>

</body>
</html>
 </script>



<!--
Performance optimized by W3 Total Cache. Learn more: https://www.w3-edge.com/products/


Served from: www.aymonier-associes.com @ 2020-01-03 12:28:06 by W3 Total Cache
-->
